/* Contact Form Styling */
.contact-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.contact-form input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Franchise Form Styling */
.franchise-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.franchise-form h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.franchise-form input[type="text"],
.franchise-form input[type="email"],
.franchise-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

.franchise-form textarea {
  height: 150px;
}

.franchise-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.franchise-form input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* General Styling */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f1f1f1;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

a {
  color: #4CAF50;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0 0 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-section {
  height: 100vh;
}
iframe {
  padding-top: 60px; /* Adjust this value according to your needs */
}